@import "../variables";

.App .header {
  width: 100%;
  background-color: #fff;

  .top-bar {
    width: $width;
    height: 59px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .logo {
      height: 70%;
    }
  }

  .restaurant-info {
    border-top: 1px solid #e9ebeb;
    width: $width;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
      margin-top: 0.6rem;
      margin-bottom: 2rem;
    }

    div {
      width: 820px;
      p {
        font-size: 1.2rem;
        color: #868a8a;
        line-height: 1.5;
      }
    }

    img {
      width: 350px;
      border-radius: 5px;
      overflow: hidden;
    }
  }
}
